.laser-flow-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  background: black;
}

.laser-flow-container canvas {
  width: 100% !important;
  height: 100% !important;
}